body{font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;}
  
  p{font-size: 22px;}
  
  

  .link {
    color: #6699ff;
    text-decoration-color:#6699ff ;
  }
  
  .link:hover {color:#ff6600 ;}
  
  .list {
    text-align: left;
    color: black; 
    font-size: 22px;
    text-decoration:;
  }
  
  
  .header {
      padding: 60px;
      text-align: center;
      background: #6699ff;
      color: white;
      font-size: 30px;
      font-family: 'Open Sans Condensed', sans-serif;
    }

  
  .topnav {
    background-color: #707881;
   overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color:#707881;
  }
  
  
  .topnav a.active {
    background-color: #6699ff;
    color: white;
  }
  
  
  .comebacktothis {
    color: #ff6600
  }

.reflections {
        background-color: #203354;
        color: white;
        padding: 20px;
        margin: 20px;
  }

  li {
    font-size:22px;
  }

  a {
    color: #6699ff;
  }

  a:visited {
    color: #6699ff;
  }

  a:hover {
    color: #ff6600;
  }

  .brainimg2 {
   padding: 10px;
   float :right;
  }